*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 3px;
}

body
{
    background-color: #f9f9f9;
    text-align: center;
}

h2
{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 0px;
    margin-bottom: 60px;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.8;
}

sup, span
{
    font-size: initial;
}

.pricing
{
    height: 100vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card
{
    flex-basis: 270px;
    background-color: white;
    box-shadow: 2px 5px 8px #b3b3b3;
    border-radius: 10px;
    padding: 20px;
}

.price
{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.price sup
{
    position: relative;
    left: -5px;
    top: -10px;
}

.price-info
{
    text-transform: uppercase;
    font-size: 0.85rem;
    margin-bottom: 20px;
}

.main-text
{
    font-size: 0.75rem;
    margin-bottom: 40px;
}

.btn
{
    border: 1px solid #000033;
    border-radius: 7px;
    display: block;
    text-transform: uppercase;
    color: #000033;
    font-weight: 500;
    padding: 15px 0px;
    margin-bottom: 40px;
}

.fa-check
{
    color: #00e600;
}

/* Free */
.free h2
{
    background-color: #f6f6f6;
}

/* Pro */
.pro h2
{
    background: linear-gradient(90deg,rgba(204, 230, 255, 1) 0%, rgba(149, 149, 234, 1) 100%);
    color: white;
}

.pro .btn
{
    background-color: #000033;
    color: white;
    font-weight: 600;
}

/* Enterprise */
.enterprise h2
{
    background: linear-gradient(90deg,rgba(255, 204, 213, 1) 0%, rgba(255, 175, 26, 1) 100%);
    color: white;
}